:root {
  --warna_dasar: #d9d9d9;
  --bg_isi: #838383;
  --bg_main: #1e1e1e;
  --bg_maps: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--bg_main);
  color: #d9d9d9;
}
/* main */

/* hero */
.hero {
  min-height: 80vh;
  min-width: 30vh;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.02%, #1e1e1e 100%),
    url(../img/1.jpg) lightgray 0px -525px / 100% 353.383% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0);
  position: relative;
}
.content {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: MonteCarlo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #e3e3e3;
}
.content h1 {
  position: relative;
  right: 7rem;
  font-size: 5rem;
  text-shadow: 1px 1px 5px white;
}
.content h2 {
  align-self: center;
  margin-bottom: 1rem;
  font-size: 5rem;
  text-shadow: 1px 1px 5px white;
  z-index: 1;
}
.content h3 {
  position: relative;
  left: 6rem;
  font-size: 5rem;
  text-shadow: 1px 1px 5px white;
}
.content h1,
.content h3 {
  margin: -7rem;
}

.ikon {
  width: 100px;
  height: auto;
  flex-shrink: 0;
  position: relative;
  left: 0.5rem;
  bottom: 5rem;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
}
.kalender {
  position: absolute;
  bottom: 150px;
  width: 400px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  background: #efefef;
  box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #1e1e1e;
}
.kalender h1 {
  position: absolute;
  left: 1.5rem;
  top: -3.5rem;
  font-size: 4rem;
}
.kalender h2 {
  position: absolute;
  right: 0.5rem;
  top: -2rem;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
}
.kalender h3 {
  position: absolute;
  right: -15px;
  top: 10px;
  text-shadow: 1px 1px 4px #fff;
  font-size: 2.5rem;
}

.kalender h4 {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  font-size: 1rem;
}

.kalender p {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 1rem;
}

.alamat {
  width: 400px;
  height: 85px;
  position: absolute;
  bottom: 5rem;
  right: 0px;
  color: #1e1e1e;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.alamat .tmbl {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 5px 0px 0px 5px;
  background: #efefef;
  box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
}
.map {
  width: auto;
  height: 100px;
  flex-shrink: 0;
  position: absolute;
  right: 10px;
  top: -5rem;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
.alamat h1 {
  position: absolute;
  right: 10rem;
  top: -2rem;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
}
.alamat h2 {
  position: absolute;
  right: 4rem;
  top: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
}
.alamat p {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 1rem;
}
.swipe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 1rem;
  color: #c4c4c4;
  font-size: 5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* main */

/* isi */
/* hero2 */
.hero2 {
  min-height: 100vh;
  min-width: 30vh;
  display: flex;
  align-items: center;
  background: linear-gradient(
      180deg,
      #1e1e1e 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 70%,
      #1e1e1e 100%
    ),
    url(../img/2.jpg) lightgray 1.297px -187.487px / 100% 353.383% no-repeat;
  background-size: cover;
  position: relative;
}
.circle {
  position: absolute;
  left: 0.5rem;
  bottom: 3rem;
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  fill: url(../img/3.jpg);
  border-radius: 50%;
  z-index: 1;
}
.laki {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  background: #d9d9d9;
  box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.laki h1 {
  position: absolute;
  left: 9rem;
  top: -1.5rem;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 2rem;
}
.laki p {
  position: absolute;
  right: 2rem;
  bottom: 5px;
  color: #000;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 300;
}
.laki p span {
  font-weight: 500;
}
.circle2 {
  position: absolute;
  right: 0.5rem;
  bottom: 4rem;
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}
.perempuan {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 5px 0px 0px 5px;
  background: #d9d9d9;
  box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
}
.perempuan h1 {
  position: absolute;
  left: 0rem;
  top: -1.5rem;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: 700;
}
.perempuan p {
  position: absolute;
  left: 2rem;
  bottom: 5px;
  color: #000;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 300;
}
.perempuan p span {
  font-weight: 500;
}
/* hero2 */

/* tulisan panjang */
.tulisan {
  padding: 1rem 20%;
  margin: 1rem;
}
.tulisan p {
  color: #fff;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tulisan p span {
  font-weight: 400;
}
/* tulisan panjang */

/* jadwal acara */
.jadwal-acara {
  position: relative;
  left: 28%;
  width: 850px;
  height: 340px;
  border-radius: 5px;
  background: #d9d9d9;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  color: #000;
}
.jadwal-acara h1 {
  position: absolute;
  left: 10%;
  border: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 5rem;
}
.jadwal-acara h1 span {
  font-weight: 400;
}
.jadwal-acara h2 {
  position: absolute;
  right: 28%;
  top: 1.5rem;
  text-align: center;
  font-size: 1rem;
}
.jadwal-acara p {
  position: absolute;
  right: 20%;
  bottom: 7rem;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}
.jadwal-acara p span {
  font-weight: 500;
}
.openmap {
  position: absolute;
  right: 28%;
  bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 5px;
}
/* jadwal acara */

/* kotak gift */
.gift {
  text-align: center;
  padding: 1rem 20%;
  margin-top: 1rem;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  color: #000;
  background-color: var(--warna_dasar);
}
.gift p span {
  font-weight: 600;
}
.qr {
  height: 250px;
  width: 850px;
  position: relative;
  left: 28%;
  margin-bottom: 2rem;
  text-align: center;
}

.qrcode {
  width: 15.6rem;
  height: 15.6rem;
  background-color: #fff;
  position: absolute;
  left: 0px;
  border-radius: 5px;
  margin: 1rem;
}
.qrcode .gambarqr {
  width: 14.5rem;
  height: 14.5rem;
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
}
.bank {
  width: 14rem;
  height: 10rem;
  position: absolute;
  right: 8rem;
  top: 40%;
  text-align: center;
}
.bca {
  width: 14rem;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bank h1 {
  position: relative;
  top: 8rem;
}
/* kotak gift */

/* kolom komentar */
.kehadiran {
  position: relative;
  left: 28%;
  width: 850px;
  height: 450px;
  border-radius: 5px;
  background: #d9d9d9;
  color: #000;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 0.8rem;
  padding: 10px;
}
.kehadiran ul {
  padding: 1rem;
}
.daftar-kehadiran {
  padding: 1rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}
.textatas {
  margin-top: 0.1rem;
}
.angka {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.out-hadir {
  border: 1px solid #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  background-color: aquamarine;
}
.out-tidak {
  border: 1px solid #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  background-color: lightcoral;
}
.out-ragu {
  border: 1px solid #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  background-color: lightslategray;
}
.kehadiran select,
input,
textarea {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  background: white;
  border-radius: 5px;
  resize: none;
  font-size: 0.8rem;
  font-weight: 400;
  border: none;
}
.kirim {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.kirim:hover {
  background-color: var(--warna_dasar);
}
/* kolom komentar */

/* popup */
.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 1000;
}
.popup-content {
  width: 50%;
  background-color: var(--warna_dasar);
  box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
  align-items: center;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  opacity: 0;

  transition: all 0.5s 0.1s;
}
.popupmap {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.popup-text {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #000;
  font-family: Montserrat Alternates;
  font-weight: 600;
}
.popup-text p span {
  font-weight: 400;
}
.popup-close:link,
.popup-close:visited {
  background-color: #838383;
  padding: 0.5rem 1rem;
  color: #000;
  border-radius: 5px;
  margin-bottom: 1rem;
  position: relative;
  bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s;
}
.popup-close:hover,
.popup-close:active {
  color: var(--warna_dasar);
}

#popup:target {
  opacity: 1;
  visibility: visible;
}
#popup:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* popup */
/* isi */

/* footer */
footer {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--bg_isi);
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
footer span {
  font-weight: 400;
}

/* footer */
/* media */

/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .ikon {
    width: 80px;
  }
  .map {
    height: 80px;
  }
  .kalender,
  .laki,
  .perempuan {
    width: 300px;
    height: 75px;
  }
  .alamat .tmbl,
  .alamat {
    width: 300px;
    height: 75px;
  }
  .jadwal-acara {
    width: 600px;
    height: 240px;
  }
  .kehadiran {
    width: 600px;
    height: 325px;
  }
  .qr {
    width: 600px;
    height: 190px;
  }
}
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  .hero,
  .hero2 {
    background-position: center;
  }
  .ikon {
    width: 60px;
  }
  .map {
    height: 60px;
  }
  .kalender {
    position: absolute;
    bottom: 170px;
  }
  .kalender,
  .laki,
  .perempuan {
    width: 250px;
    height: 60px;
  }
  .alamat {
    position: absolute;
    bottom: 70px;
  }
  .alamat .tmbl,
  .alamat {
    width: 250px;
    height: 60px;
  }
  .jadwal-acara {
    width: 350px;
    height: 200px;
  }
  .jadwal-acara p {
    right: 18%;
  }
  .kehadiran {
    width: 350px;
    height: 275px;
  }
  .qr {
    width: 350px;
    height: 160px;
  }
  .qr .bank {
    position: absolute;
    right: 1rem;
  }
}
@media (max-width: 470px) {
  html {
    font-size: 45%;
  }
  .hero {
    min-height: 75vh;
  }
  .content {
    min-height: 25vh;
  }
  .ikon {
    width: 40px;
  }
  .map {
    height: 40px;
  }
  .kalender {
    position: absolute;
    bottom: 120px;
  }
  .alamat {
    position: absolute;
    bottom: 65px;
  }
  .kalender,
  .laki,
  .perempuan {
    width: 185px;
    height: 40px;
  }
  .alamat .tmbl,
  .alamat {
    width: 185px;
    height: 40px;
  }
  .jadwal-acara {
    position: relative;
    left: 15%;
    width: 300px;
    height: 150px;
  }
  .jadwal-acara p {
    right: 15%;
  }
  .kehadiran {
    position: relative;
    left: 15%;
    width: 300px;
    height: 210px;
  }
  .kehadiran .textatas {
    font-size: 85%;
  }
  .qr {
    position: relative;
    left: 25%;
    width: 220px;
    height: 85px;
  }
  .qr .qrcode {
    width: 12rem;
    height: 12rem;
  }
  .qr .gambarqr {
    width: 11rem;
    height: auto;
  }
  .qr .bank {
    position: absolute;
    top: 25%;
  }
  .qr .bca {
    width: 13rem;
    position: absolute;
    top: 1.5rem;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 38%;
  }.hero {
    min-height: 70vh;
  }
  .content {
    min-height: 30vh;
  }
  .ikon {
    width: 35px;
  }
  .map {
    height: 35px;
  }
  .kalender {
    position: absolute;
    bottom: 120px;
  }
  .alamat {
    position: absolute;
    bottom: 65px;
  }
  .kalender,
  .laki,
  .perempuan {
    width: 155px;
    height: 35px;
  }
  .alamat .tmbl,
  .alamat {
    width: 155px;
    height: 35px;
  }
  .jadwal-acara {
    position: relative;
    left: 15%;
    width: 250px;
    height: 125px;
  }
  .jadwal-acara p {
    right: 15%;
  }
  .kehadiran {
    position: relative;
    left: 15%;
    width: 250px;
    height: 185px;
  }
  .kehadiran .textatas {
    font-size: 85%;
  }
  .qr {
    position: relative;
    left: 15%;
    width: 220px;
    height: 85px;
  }
  .qr .qrcode {
    width: 12rem;
    height: 12rem;
  }
  .qr .gambarqr {
    width: 11rem;
    height: auto;
  }
  .qr .bank {
    position: absolute;
    top: 25%;
  }
  .qr .bca {
    width: 13rem;
    position: absolute;
    top: 1.5rem;
  }
} 
